torch~=1.13.1
torchinfo~=1.7.1
numpy~=1.22.4
seaborn~=0.11.2
pandas~=1.4.1
matplotlib~=3.4.3
scikit-learn~=1.2.1
timm~=0.4.12
einops~=0.4.1
scipy~=1.8.0
sympy~=1.11.1
patool~=1.12
pathlib~=1.0.1
dataclasses~=0.8
tqdm~=4.64.0
sktime~=0.16.1